.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#PicAnchor{
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

#Image {
  background-color: #0c120c;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}


